<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<typeAliases>
		<!-- 도메인추가 -->
		<typeAlias type="moigo.domain.Meeting" alias="Meeting" />
		<typeAlias type="moigo.domain.User" alias="User" />
	</typeAliases>

	<environments default="dev">
		<environment id="dev">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver" />
				<property name="url" value="jdbc:oracle:thin:@192.168.0.58:1523:orcl" />
				<property name="username" value="moigo" />
				<property name="password" value="moigo1234" />
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<mapper resource="mapper/MeetingMapper.xml" />
		<mapper resource="mapper/RecommendMapper.xml" />
		<mapper resource="mapper/UserMapper.xml" />
	</mappers>
</configuration>
