<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<typeAliases>
		<!-- 도메인추가 -->
		<typeAlias type="moigo.domain.Meeting" alias="Meeting" />
	</typeAliases>

	<environments default="dev">
		<environment id="dev">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver" />
				<property name="url" value="jdbc:oracle:thin:@192.168.0.58:1523:orcl" />
				<property name="username" value="moigo" />
				<property name="password" value="moigo1234" />
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<!-- <mapper resource="mapper/만든맵퍼이름.xml" /> -->
	</mappers>
</configuration>
