<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="moigo.store.mybatis.mapper.AdMapper">

	<resultMap id="adMap" type="Ad" > 
		<id column="ad_id" property="adId" />
		<result column="meeting_id" property="meetingId" />
		<result column="name" property="name" />
		<result column="email" property="email" />
		<result column="phoneNumber" property="phoneNumber" />
		<result column="start_date" property="startDate" />
		<result column="end_date" property="endDate" />
		<result column="product" property="product" />
		<result column="question" property="question" />
		<result column="approval" property="approval" />
	</resultMap>
	
	<sql id="selectAd">
		SELECT ad_id, meeting_id, name, email, phoneNumber, start_date, end_date, product, question, approval
		FROM ad_tb
	</sql>
	
	<insert id="insertAd" parameterType="Ad">
		<selectKey keyProperty="adId" resultType="int" order="BEFORE">
	  		SELECT ad_seq.nextval FROM DUAL
	  	</selectKey>
		INSERT INTO AD_TB(ad_id, meeting_id, name, email, phoneNumber, start_date, end_date, product, question)
		VALUES			 (#{adId}, #{meetingId}, #{name}, #{email}, #{phoneNumber}, #{startDate}, #{endDate}, #{product}, #{question})
	</insert>
	
	<update id="updateAd" parameterType="Ad">
		UPDATE ad_tb 
		SET start_date = #{startDate},
			end_date = #{endDate}
			product = #{product}
		WHERE ad_id = #{adId}
	</update>
	
	<update id="approveAd" parameterType="Ad">
		UPDATE ad_tb 
		SET APPROVAL = #{approval}
		WHERE ad_id = #{adId}
	</update>
	
	<delete id="deleteAd" parameterType="int">
		DELETE FROM ad_tb
		WHERE ad_id = #{adId}
	</delete>
	
	<select id="selectAdById" resultMap="adMap">
		<include refid="selectAd"/>
		WHERE ad_id = #{adId}
		ORDER BY ad_id ASC
	</select>
	
	<select id="selectAdByEmail" resultMap="adMap">
		<include refid="selectAd"/>
		WHERE email = #{email}
		ORDER BY ad_id ASC
	</select>
	
	<select id="selectAdByPhoneNumber" resultMap="adMap">
		<include refid="selectAd"/>
		WHERE phoneNumber = #{phoneNumber}
		ORDER BY ad_id ASC
	</select>
	
	<select id="selectAdByName" resultMap="adMap">
		<include refid="selectAd"/>
		WHERE name = #{name}
		ORDER BY ad_id ASC
	</select>
	
	<select id="selectAllAd" resultMap="adMap">
		<include refid="selectAd"/>
		ORDER BY ad_id ASC
	</select>
	
	<select id="selectAdByDate" resultMap="adMap">
		<include refid="selectAd"/>
		WHERE start_date = #{startDate} OR end_date = #{endDate}
		ORDER BY ad_id ASC
	</select>
	
	<select id="selectAdBySysdate" resultMap="adMap">
		<include refid="selectAd"/>
		WHERE sys_date = #{sysDate}
		ORDER BY ad_id ASC
	</select>
	
	<select id="selectAdByMeetingId" resultMap="adMap">
		<include refid="selectAd"/>
		WHERE meeting_id = #{meetingId}
		ORDER BY ad_id ASC
	</select>
	
</mapper>