<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="store.mybatis.mapper.AdMapper">

	<resultMap type="Ad" id="adMap">
		<id column="ad_id" property="adId" />
		<result column="meeting_id" property="meetingId" />
		<result column="name" property="name" />
		<result column="email" property="email" />
		<result column="phoneNumber" property="phoneNumber" />
		<result column="meetingTitle" property="meetingTitle" />
		<result column="start_date" property="startDate" />
		<result column="end_date" property="endDate" />
		<result column="product" property="product" />
		<result column="question" property="question" />
	</resultMap>
	
	<sql id="selectAd">
		SELECT ad_id, meeting_id, name, email, phoneNumber, meetingTitle, start_date, end_date, product, question
		FROM ad_id
	</sql>
	
	<insert id="create" parameterType="Ad">
		<selectKey keyProperty="adId" resultType="int" order="BEFORE">
	  		SELECT ad_seq.nextval FROM DUAL
	  	</selectKey>
		INSERT INTO AD_TB(ad_id, meeting_id, name, email, phoneNumber, meetingTitle, start_date, end_date, product, question)
		VALUES(#{ad_id}, #{meeting_id}, #{name}, #{email}, #{phoneNumber}, #{meetingTitle}, #{start_date}, #{end_date}, #{product}, #{question})
	</insert>
	
	<update id="update" parameterType="int">
		UPDATE ad_tb 
		SET meetingTitle = #{meetingTitle},
			contents = #{contents}
		WHERE ad_id = #{ad_id}
	</update>
	
	<delete id="delete" parameterType="int">
		DELETE FROM ad_tb
		WHERE ad_id = #{ad_id}
	</delete>
	
	<select id="selectAdById" resultMap="adMap">
		<include refid="selectAd"/>
		WHERE ad_id = #{ad_id}
		ORDER BY ad_id ASC
	</select>
	
	<select id="selectAdByEmail" resultMap="adMap">
		<include refid="selectAd"/>
		WHERE email = #{email}
		ORDER BY ad_id ASC
	</select>
	
	<select id="selectAdByPhoneNumber" resultMap="adMap">
		<include refid="selectAd"/>
		WHERE phoneNumber = #{phoneNumber}
		ORDER BY ad_id ASC
	</select>
	
	<select id="selectAdByName" resultMap="adMap">
		<include refid="selectAd"/>
		WHERE name = #{name}
		ORDER BY ad_id ASC
	</select>
	
	<select id="selectAllAd" resultMap="adMap">
		<include refid="selectAd"/>
		ORDER BY ad_id ASC
	</select>
	
	<select id="selectAdByDate" resultMap="adMap">
		<include refid="selectAd"/>
		WHERE start_date = #{start_date} OR end_date = #{end_date}
		ORDER BY ad_id ASC
	</select>
	
	<select id="selectAdBySysdate" resultMap="adMap">
		<include refid="selectAd"/>
		WHERE sys_date = #{sysdate}
		ORDER BY ad_id ASC
	</select>
	
	<select id="selectAdByMeetingId" resultMap="adMap">
		<include refid="selectAd"/>
		WHERE meeting_id = #{meeting_id}
		ORDER BY ad_id ASC
	</select>

</mapper>