<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="store.mybatis.mapper.MeetingMapper">

	<resultMap type="Meeting" id="meetingMap">
		<id column="meeting_id" property="meetingId" />
		<result column="title" property="title" />
		<result column="meeting_date" property="date" />
		<result column="start_date" property="startDate" />
		<result column="end_date" property="endDate" />
		<result column="place" property="place" />
		<result column="fee" property="fee" />
		<result column="participants" property="participants" />
		<result column="guidence" property="guidence" />
		<result column="content" property="content" />
		<result column="contact" property="contact" />
		<result column="report_count" property="reportCount" />
		<result column="reg_date" property="regDate" />
		<result column="user_email" property="regUser" />
	</resultMap>
	
	<insert id="create" parameterType="Meeting">
		<selectKey keyProperty="meetingId" resultType="int" order="BEFORE">
	  		SELECT meeting_seq.nextval FROM DUAL
	  	</selectKey>
		INSERT INTO MEETING_TB(meeting_id, title, meeting_date, start_date, end_date, place, fee, guidence, content, contact, reg_date, user_email, meet_sugget)
		VALUES(#{meetingId}, #{title}, #{date}, #{startDate}, #{endDate}, #{place}, #{fee}, #{guidence}, #{content}, #{contact}, sysdate, #{regUser}, 'meeting')
	</insert>
	
	<select id="retrieve" parameterType="int" resultMap="meetingMap">
		SELECT meeting_id,
			   title,
			   meeting_date,
			   start_date,
			   end_date,
			   place,
			   fee,
			   participants,
			   guidence,
			   content,
			   contact,
			   report_count,
			   reg_date,
			   user_email
		FROM MEETING_TB
		WHERE meeting_id = #{meetingId}
	</select>
	
	<update id="update" parameterType="??">
		UPDATE ?? 
		SET title = #{title},
			contents = #{contents}
		WHERE id = #{??Id}
	</update>
	
	<delete id="delete" parameterType="String Or int Or ??">
		DELETE FROM article
		WHERE id = #{??Id}
	</delete>
</mapper>